AWS_ACCESS_KEY_ID=AKIATOU7E3HZ3BYCTVM7
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1

ECR_REPOSITORY=tanahora
ECS_CLUSTER=tanahora-cluster
ECS_SERVICE=tanahora-service
ECS_CONTAINER_NAME=tanahora-app
ECS_TASK_FAMILY=tanahora-task
ECS_TASK_EXECUTION_ROLE_ARN=arn:aws:iam::123456789012:role/ecsTaskExecutionRole
ECS_TASK_ROLE_ARN=arn:aws:iam::123456789012:role/tanahoraTaskRole
ECS_LOG_GROUP=/ecs/tanahora
ECS_LOG_STREAM_PREFIX=ecs
